body{
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1d1f20;
}
.pfp {
    border-radius: 50%;
    object-fit: cover;
    width: 100px;
    animation: floatUpDown 4s ease-in-out infinite;
}
.pfpcontainer {
    margin-top: 20px;
    display: grid;
    place-items: center;
}
@keyframes floatUpDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}
.title{
    text-align: center;
    font-size: 2em;
    margin-top: 5px;
    color: #dddddd;
}
.subtitle{
    text-align: center;
    color: #777777;
    font-size: 1.5em;
    margin-top: 0;
}
.how {
    background: linear-gradient(180deg, rgba(0,208,208,1) 35%, rgba(255,16,175,1) 100%);
        padding: 15px 32px;
        text-align: center;
        font-size: 16px;
        border-radius: 15px;
        color:white;
        border:none;
        cursor: pointer;
        transition: box-shadow 0.3s ease-in-out, transform 0.2s ease-in-out;
}
.how:hover {
    box-shadow: 0px 10px 20px rgba(233, 31, 168, 0.5);
    transform: scale(1.1);

}
.buttoncontainer {
    display: grid;
    place-items: center;
    margin-top: 20px;
}
.projects {
    display: grid;
    place-items: center;
    margin-top: 30px;
    color:white;

}
.making {
    display: grid;
    place-items: center;
    margin-top: 30px;
    color:#f7f7f7;
}
.makingtext{
    margin-left: 30px;
    color:#f7f7f7;
}
.ths {
        background: linear-gradient(0deg, rgba(34,153,195,1) 0%, rgba(45,253,100,1) 100%);
        padding: 15px 32px;
        text-align: center;
        font-size: 16px;
        border-radius: 15px;
        color:white;
        border:none;
        cursor: pointer;
        transition: box-shadow 0.3s ease-in-out, transform 0.2s ease-in-out;
}
.ths:hover {
    box-shadow: 0px 10px 20px rgba(34,153,195,0.5);
    transform: scale(1.1);
}
.amn {
    background: linear-gradient(0deg, rgba(195,172,34,1) 0%, rgba(253,72,45,1) 100%);
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    border-radius: 15px;
    color:white;
    border:none;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out, transform 0.2s ease-in-out;
}
.amn:hover {
box-shadow: 0px 10px 20px rgba(195,172,34,0.5);
transform: scale(1.1);
}
.footer {
    display:grid;
    place-items: center;
    color:#777777;
    background-color: #3d3f40;
}
a.footer {
    color: #999999;
    text-decoration: none;
}